<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Petstory</h1>
    <form class="form-inline md-form" (change)="updateUsersList($event)">
      <input class="form-control mr-sm-2" [(ngModel)]="searchValue" name="searchValue" type="text" placeholder="Search"
             aria-label="Search">
      <button class="btn aqua-gradient btn-rounded btn-sm my-0 btn-info" type="submit">Search</button>
      <ul class="users-list" [hidden]="usersFromSearch.length === 0">
        <li class="user-search-item" *ngFor="let user of usersFromSearch" (click)="visitToProfile(user._id)">
          <img class="search-user-image" src="{{user.picture}}">
          <span>{{user.firstName}} {{user.lastName}}</span>
        </li>
      </ul>
    </form>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a *ngFor="let item of menuItems"
           mat-list-item
           (click)="snav.close()"
           [routerLink]="[item.link]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
          {{item.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-card-footer>
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">All right Reversed.<a class="text-green ml-2" target="_blank">College
              of Management</a></p>
          </div>
        </div>
      </div>
    </section>
  </mat-card-footer>
</div>
