<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <agm-map [latitude]='latitude' [longitude]='longitude'-->
<!--             [mapTypeId]='mapType'>-->
<!--    </agm-map>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->

<!--  <h1>Find cool pet parks</h1>-->

<!--  <div class="form-group">-->
<!--    <label>Enter address</label>-->
<!--    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"-->
<!--           placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"-->
<!--           #search>-->
<!--  </div>-->

<!--  <agm-map [latitude]="latitude"-->
<!--           [longitude]="longitude"-->
<!--           [zoom]="zoom"-->
<!--           (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"-->
<!--           [mapDraggable]="false">-->
<!--    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"-->
<!--                (dragEnd)="markerDragEnd($event)" (markerRightClick)="putMarker($event)"></agm-marker>-->
<!--  </agm-map>-->

<!--  <h5>Address: {{address}}</h5>-->
<!--  <div>Latitude: {{latitude}}</div>-->
<!--  <div>Longitude: {{longitude}}</div>-->
<!--</div>-->


<div #gmap class="gmap"></div>
<div *ngIf="!createMode && !editMode" class="tableBar">
  <div class="row">
    <label class="tableBar">List of park</label>
    <button (click)="this.changeToCreateMode(true)" class="btn btn-primary btn-with-icon floaty">
      <i class="fa fa-plus"></i>
      Add Park
    </button>
  </div>
  <app-park-table [savedParks]="savedParks" (markerMessage)="getMarker($event)"
                  (editMode)="changeToEditMode($event)"></app-park-table>
</div>
<app-park-create *ngIf="createMode" (createMode)="changeToCreateMode($event)" ></app-park-create>
<app-park-edit *ngIf="editMode" (editMode)="changeToUneditMode($event)" [parkToEdit]="parkToEdit" ></app-park-edit>
