<div id="id01" >

  <form class="modal-content animate" #form="ngForm" (submit)="loginUser()">
    <div class="imgcontainer">
      <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" [(ngModel)]="userToLogin.username" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="userToLogin.password" placeholder="Enter Password" name="psw" required>

      <button type="submit" [disabled]="!form.valid">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container">
      <div class="psw-wrapper">
        <span class="psw">Don't have an account? <a [routerLink]="['/register']" routerLinkActive="active"><strong>Sign Up</strong></a></span>
      </div>
    </div>
  </form>
</div>
