<!-- nav bar -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading resume-heading">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <figure>
                <img class="img-circle img-responsive" alt=""
                     src="{{visitedProfile.picture}}">
              </figure>
              <div class="row">
                <div class="col-xs-12 social-btns">
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-google">
                      <i class="fa fa-google"></i> </a>
                  </div>
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-facebook">
                      <i class="fa fa-facebook"></i> </a>
                  </div>
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-twitter">
                      <i class="fa fa-twitter"></i> </a>
                  </div>
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-linkedin">
                      <i class="fa fa-linkedin"></i> </a>
                  </div>
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-github">
                      <i class="fa fa-github"></i> </a>
                  </div>
                  <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                    <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                      <i class="fa fa-stack-overflow"></i> </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">
                  <b>Name:</b>{{visitedProfile.firstName + ' ' + visitedProfile.lastName}}
                </li>
                <li class="list-group-item"><b>Age:</b>{{visitedProfile.age}}
                </li>
                <li class="list-group-item">
                  <b>Friends:</b> {{visitedProfile.following ? visitedProfile.following.length : 0}}
                </li>
                <li class="list-group-item"><i class="fa"></i>
                  <b>Pets:</b> {{visitedProfile.pets ? visitedProfile.pets.length : 0}}
                </li>
                <li class="list-group-item"><i
                  class="fa fa-envelope"></i><b>Email:</b> {{visitedProfile.email}}
                </li>
              </ul>
              <button class="follow-button" type="submit"
                      (click)="followOrUnfollow(visitedProfile._id)">{{follow}}</button>
            </div>
          </div>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Pets">
          <div class="bs-callout bs-callout-danger">
            <div>
              <h4 style="float:left; margin-right: 8px;">{{visitedProfile.firstName + '\'s'}}
                Pets</h4>
            </div>

            <div class="row">
              <div class="pets-container">
                <ul *ngIf="visitedProfile.hasOwnProperty('pets') ? visitedProfile.pets.length > 0: false">
                  <li *ngFor="let pet of visitedProfile.pets">
                    <div class="pet-container">
                      <figure class="pet-image">
                        <img class="img-circle img-responsive" alt="" src="{{pet.image}}">
                      </figure>
                      <ul class="list-group pet-details">
                        <li class="list-group-item">{{pet.name}}</li>
                        <li class="list-group-item">{{pet.type}}</li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Posts">
          <div class="bs-callout bs-callout-danger feed-wrapper">
            <mat-card class="example-card" *ngFor="let post of feed">
              <mat-card-header>
                <div mat-card-avatar [ngStyle]="{'background-image': 'url('+post.userImage+')'}"
                     class="example-header-image"></div>
                <mat-card-title class="title">{{post.username}}</mat-card-title>
                <mat-card-subtitle>{{post.timestamp}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="img-article" src={{post.postImage}} alt="">
              <mat-card-content>
                <p>
                  {{post.postText}}
                </p>
              </mat-card-content>
              <mat-card-actions class="action-buttons">
                <button mat-button color="primary">
                  <mat-icon>thumb_up_alt</mat-icon>
                  12 Likes
                </button>
                <button mat-button color="primary">
                  <mat-icon>comment</mat-icon>
                  Comments
                </button>
                <button mat-button color="primary">
                  <mat-icon>share</mat-icon>
                  Share
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Following">
          <div class="bs-callout bs-callout-danger">
            <div class="row">
              <div class="pets-container">
                <ul *ngIf="visitedProfile.hasOwnProperty('following') ? visitedProfile.following.length > 0: false">
                  <li *ngFor="let user of visitedProfile.following">
                    <div class="pet-container">
                      <figure class="friend-image">
                        <img class="img-circle img-responsive" alt="" src="{{user.picture}}"
                             (click)="goToProfile(user._id)">
                      </figure>
                      <ul class="list-group pet-details">
                        <li class="list-group-item">{{user.firstName}}</li>
                        <li class="list-group-item">{{user.lastName}}</li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
  <!-- resume -->


</div>
