.pie-chart-container{
  margin: 15px 35px;
  width: 90%;
  height: 35%;
  background-color: #4CAF50;
  font-size: 4px;
  border-radius: 10%;
}

.label-wrapper {
  text-align: center;
  color: rgba(0, 0, 0, 0.99);
  font-weight: bold;
  display: block;
  width: 80%;
  margin:0 auto;
  font-size:20px;
}
