<div class="feed-container">
  <mat-toolbar color="primary">

    <span>Add Pet Story:</span>
    <span class="example-spacer"></span>

    <a routerLink="/pages/home">
      <button class="btn btn-primary btn-with-icon">
        <i class="fa fa-plus"></i>
        Back to feed
      </button>
    </a>

  </mat-toolbar>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/profile.jpeg)'}"
             class="example-header-image"></div>
        <mat-card-title class="title">{{currentUser.username}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <textarea rows="4" cols="50" [(ngModel)]="postToCreate.postText" [disabled]="isSending" placeholder="Enter Post Text" name="postText" required></textarea><br/>

          <label for="picture"><b>Upload a picture (not required)</b></label>
          <!-- <input type="file" [(ngModel)]="petToRegister.picture" name="picture" required> -->
          <input type="file"
                 id="file"
                 [disabled]="isSending"
                 (change)="handleFileInput($event.target.files)">
          <button (click)="submit()" class="button is-info" [disabled]="isSending">
            Send
          </button>
        </div>
      </mat-card-content>

    </mat-card>

</div>



