.gmap {
  margin: auto;
  width: 100%;
  height: 200px;
}

.nearest-location{
  margin: 20px -15px;
  width: 100%;
  height: 280px;
  background-color: #4CAF50;
  border-radius: 10%;
}

.all-parks-button button {
  margin: 0 auto;
  display: block;
}


label {
  color: rgba(0, 0, 0, 0.99);
  font-weight: bold;
  display: block;
  width: 150px;
  margin: 0 auto;
  font-size:20px;
}
